Source: QC
Section: utils
Priority: optional
Maintainer: Your Name <you@example.com>
Standards-Version: 4.6.0
Build-Depends: debhelper (>= 12), g++, cmake, llvm (>= 21), make

Package: QC
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QuantumC compiler
 Quantum C compiler
