#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
    cmake .
    cmake --build . -j$(nproc)
override_dh_auto_install:
	install -d $(DESTDIR)/.qc/bin/qc
	install -m 755 qc $(DESTDIR)/.qc/bin/qc
	install -d $(DESTDIR)/.qc/lib/stdlib.qc
	install -m 644 stdlib.qc $(DESTDIR)/.qc/lib/stdlib.qc
